#box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 5px solid black;
  width: 600px;
  height: 600px;
  margin: auto;
}

.square, .square:disabled {
  border: 5px solid black;
  font-size: 100px;
  color: black;
}

h1 {
  text-align: center;
  font-size: 50px;
}

#reset {
  display: block;
  margin: auto;
  margin-top: 20px;
  background-color: whitesmoke;
  border: 5px solid black;
  width: 200px;
  font-weight: bolder;
}

#reset:active {
  background-color: grey;
}
